{% extends "layout.njk" %}

{% block head %}

  <title>Pagina não encontrada - Luiz Henrique</title>

{% endblock %}

{% block content %}
  <div id="footer-about" class="links">
    <h1>Página não encotrada</h1>
    <p>Infelizmente você acessou uma página que não existe! Mas não se preocupe, clique no link abaixo e volte para o Inicio!</p>
    <a href="/">Inicio</a>
  </div>

{% endblock %}